name: Create Pre-Release

on:
  push:
    tags:
      - "v*" # Matches release-beta tags e.g. v1.1.3+41

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.job }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  create-prerelease:
    name: Create GitHub Pre-Release
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub App Token
        id: github_app_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.TECHPRIMATE_RELEASE_BOT_APP_ID }}
          private-key: ${{ secrets.TECHPRIMATE_RELEASE_BOT_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Create Pre-Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          prerelease: true
          generate_release_notes: true
          token: ${{ steps.github_app_token.outputs.token }}
